/*body{
    margin-top:20px;
    color: #bcd0f7;
    background: #1A233A;
}*/
main{
    margin-top: 4rem;
}

/* Nav Bar */
.navbar-nav .dropdown-item {
    font-style: italic;
}


/* Media query for large screens */
@media (min-width: 577px) {

  /* Timeline */
  /* Adjust the position of the timeline & border */
  .timeline-with-icons {
    border-left: 3px solid #E6E6E6;
    position: relative;
    list-style: none;
  }

  /* Adjust the space between icons and text */
  .timeline-with-icons .timeline-item {
    position: relative;
  }

  /* Anchor Tags / Links */
  .timeline-with-icons .timeline-item a {
    color: #212529;
    text-decoration: none;
  }

  .timeline-with-icons .timeline-item a:hover {
    color: #676A6F;
    text-decoration: underline;
  }

  /* Adjust the icons */
  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: #CFE0FC;
    color: #0A47A9;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Timeline */
}

/* Media query for small screens */
@media (max-width: 576px) {
  
  /* Timeline */
  /* Adjust the space between icons and text */
  .timeline-with-icons .timeline-item {
    position: relative;
    padding-left: 25px; 
  }

    /* Anchor Tags / Links */
  .timeline-with-icons .timeline-item a {
    color: #212529;
    text-decoration: none;
  }
  .timeline-with-icons .timeline-item a:hover {
    color: #676A6F;
    text-decoration: underline;
  }

  /* Adjust the connecting line */
  .timeline-with-icons .timeline-item::before {
    content: "";
    position: absolute;
    left: -5px;
    width: 3px;
    height: 145%;
    background-color: #E6E6E6;
  }

  /* Adjust the icons */
  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -20px;
    background-color: #CFE0FC;
    color: #0A47A9;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Timeline */
}


