
main{
    margin-top: 4rem;
}

/* Nav Bar */
.navbar-nav .dropdown-item {
    font-style: italic;
}
/* Nav Bar - End */

/* Table */
#co2_paginate .paginate_button {
    padding: 6px 12px;
    border: 1px solid #212529; /* dark grey tone */
    color: #528265; /* greenish tone */
    background-color: white;
    border-radius: 4px;
    text-decoration: none; /* Removes underline */
}

#co2_paginate .paginate_button:hover {
    color: white;
    background-color: #528265; /* greenish tone */
    border-color: #528265; /* greenish tone */
}

#co2_paginate .paginate_button.current, 
#co2_paginate .paginate_button.current:hover {
    color: white !important;
    border: 1px solid #528265; /* greenish tone */
    background-color: #528265; /* greenish tone */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #528265), color-stop(100%, #528265));
    background: -webkit-linear-gradient(top, #528265 0%, #528265 100%);
    background: -moz-linear-gradient(top, #528265 0%, #528265 100%);
    background: -ms-linear-gradient(top, #528265 0%, #528265 100%);
    background: -o-linear-gradient(top, #528265 0%, #528265 100%);
    background: linear-gradient(to bottom, #528265 0%, #528265 100%);
}

/* Table rows hover */
#co2 tbody tr:hover {
  background-color: #528265;
  color: white;
}

/* Table - End */

/* Contact */
.btn.custom-submit {
  background-color: #528265;
  border-color: #528265;
  color: white;
}

.btn.custom-submit:hover {
  background-color: whitesmoke;
  border-color: #528265;
  color: #528265;
}
/* Contact - End */


/* Social Media Buttons */
.btn.social-media {
  background-color: #528265;
  border-color: #528265;
  color: white;
}

.btn.social-media:hover {
  background-color: whitesmoke;
  border-color: #528265;
  color: #528265;
}
/* Social Media Buttons - End */

/* Media query for large screens */
@media (min-width: 577px) {

  /* Timeline */
  /* Adjust the position of the timeline & border */
  .timeline-with-icons {
    border-left: 3px solid #E6E6E6;
    position: relative;
    list-style: none;
  }

  /* Adjust the space between icons and text */
  .timeline-with-icons .timeline-item {
    position: relative;
  }

  /* Anchor Tags / Links */
  .timeline-with-icons .timeline-item a {
    color: #212529;
    text-decoration: none;
  }

  .timeline-with-icons .timeline-item a:hover {
    color: #676A6F;
    text-decoration: underline;
  }

  /* Adjust the icons */
  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: #CFE0FC;
    color: #0A47A9;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* Timeline - End */
}

/* Media query for small screens */
@media (max-width: 576px) {
  
  /* Timeline */
  /* Adjust the space between icons and text */
  .timeline-with-icons .timeline-item {
    position: relative;
    padding-left: 25px; 
  }

    /* Anchor Tags / Links */
  .timeline-with-icons .timeline-item a {
    color: #212529;
    text-decoration: none;
  }
  .timeline-with-icons .timeline-item a:hover {
    color: #676A6F;
    text-decoration: underline;
  }

  /* Adjust the connecting line */
  .timeline-with-icons .timeline-item::before {
    content: "";
    position: absolute;
    left: -5px;
    width: 3px;
    height: 145%;
    background-color: #E6E6E6;
  }

  /* Adjust the icons */
  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -20px;
    background-color: #CFE0FC;
    color: #0A47A9;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Timeline - End */
}


